
.message {
    max-width: 70%;
    margin-bottom: 10px;
    border-radius: 10px;
    color: #444;
    padding: 14px 16px;
    line-height: 20px;
    font-size: 16px;
    display: inline-block;
    position: relative;
}

.received {
    align-self: flex-start;
    background: #efefef;
}

.sent {
    align-self: flex-end;
    background-color: #e8f1f3;
    ;
}

.input-box {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
}

#message-input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.messages-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.chat-container {
    background-color: white;
    width: 100%;
    max-width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    overflow: hidden;
}

.chat-box {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.chat-header {
    border-bottom: 2px solid #f4f7f6;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
}

.chat-messages-empty {
    padding: 10px;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ddd;
    width: 100%;
    height: 500px;
}

.chat-messages {
    /*flex: 1;*/
    padding: 10px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ddd;
    width: 100%;
    height: 500px;
}

.chat-messages .message.user {
    background-color: #4CAF50;
    color: white;
    align-self: flex-end;
}

.chat-input {
    display: flex;
    border-top: 1px solid #ddd;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 0;
    outline: none;
}

.chat-input button {
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
}

.chat-input button:hover {
    background-color: #45a049;
}

.user-list {
    width: 20%;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #ddd;
}

.user-list-header {
    background-color: #3c8dbc;
    color: white;
    padding: 10px;
    text-align: center;
}

.user-list {
    border-right: 2px solid black;
}
.users {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    flex-direction: column;
    display: flex;
}

.users .user {
    margin-bottom: 8px;
    padding: 8px 12px;
    border-radius: 8px;
    background-color: #e4e4e4;
}

.user-item{
    padding: 10px;
    margin: 4px;
}

.chat-box-container {
 
}   