@model WeddingRestaurant.ViewModels.LoginVM

@{
    ViewData["Title"] = "Đăng nhập";
}

<div class="container-fluid py-5">
    <div class="container py-5">
        <h1 class="mb-4">Billing details</h1>
        <form asp-controller="User" asp-action="Login" method="post" asp-route-returnurl="@ViewBag.ReturnUrl">
            <div class="text-danger" asp-validation-summary="All"></div>
            <div class="row g-5">
                <div class="col-md-12 col-lg-6 col-xl-7">
                    <div class="form-item">
                        <label asp-for="UserName" class="form-label my-3"></label><sup>*</sup>
                        <input asp-for="UserName" class="form-control">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-item">
                        <label asp-for="Password" class="form-label my-3"></label><sup>*</sup>
                        <input asp-for="Password" class="form-control">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="row g-4 text-center align-items-center justify-content-center pt-4">
                    <button type="submit" class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary">Đăng nhập</button>
                </div>
            </div>
        </form>
    </div>
</div>