@model WeddingRestaurant.ViewModels.LoginVM

@{
    ViewData["Title"] = "Đăng nhập";
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                    <p class="lead fw-normal mb-0 me-3">Sign in with</p>
                    <a href="/User/External/?provider=Facebook" class="btn-hover">
                        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-floating mx-1 ">
                            <div class="XqhqCI social-white-background social-white-fb-blue-png"></div>
                        </button>
                    </a>
                    <a href="/User/External/?provider=Google" class="btn-hover">
                        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-floating mx-1 ">
                            <div class="XqhqCI social-white-background social-white-google-png"></div>
                        </button>
                    </a>
                </div>

                <div class="divider d-flex align-items-center my-2">
                    <p class="text-center fw-bold mb-0">Or</p>
                </div>
                <form asp-controller="User" asp-action="Login" method="post" asp-route-returnurl="@ViewBag.ReturnUrl">
                    @* <div class="text-danger" asp-validation-summary="All"></div> *@
                    <!-- Email input -->
                    <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl" />
                    <div class="form-floating mb-3 mt-3">
                        <input asp-for="UserName" type="text" class="form-control" id="email" placeholder="Enter UserName">
                        <label asp-for="UserName">UserName</label>
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <!-- Password input -->
                    <div class="form-floating mt-3 mb-3">
                        <input asp-for="Password" type="password" class="form-control" id="pwd" placeholder="Enter password">
                        <label asp-for="Password">Password</label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <!-- Checkbox -->
                        <div class="form-check mb-0">
                            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                            <label class="form-check-label" for="form2Example3">
                                Remember me
                            </label>
                        </div>
                        <a href="#!" class="text-body">Forgot password?</a>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-danger btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">
                            Login
                        </button>
                        <p class="small fw-bold mt-2 pt-1 mb-0">
                            Don't have an account? 
                            <a asp-action="Register" class="link-danger">Register</a>
                        </p>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>