@model WeddingRestaurant.ViewModels.RegisterVM

@{
    ViewData["Title"] = "Đăng ký";
}
<!-- Section: Design Block -->
<section class="text-center text-lg-start">
    <div class="container py-4">
        <div class="row g-0 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card cascading-right bg-body-tertiary" style="backdrop-filter: blur(30px);">
                    <div class="card-body p-5 shadow-5 text-center">
                        <h2 class="fw-bold mb-5">Sign up now</h2>
                        <form asp-controller="User" asp-action="Register" method="post" asp-route-returnurl="@ViewBag.ReturnUrl" enctype="multipart/form-data">
                            <div class="text-danger" asp-validation-summary="All"></div>
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-floating mt-3">
                                        <input asp-for="Email" type="email" class="form-control" id="email" placeholder="Enter email">
                                        <label asp-for="Email">Email</label>
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-floating mt-3">
                                        <input asp-for="UserName" type="text" class="form-control" id="UserName" placeholder="Enter UserName">
                                        <label asp-for="UserName">UserName</label>
                                        <span asp-validation-for="UserName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-floating mb-3">
                                <input asp-for="PhoneNumber" type="text" class="form-control" id="PhoneNumber" placeholder="Enter PhoneNumber">
                                <label asp-for="PhoneNumber">PhoneNumber</label>
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>

                            <div class="form-floating mb-3 mt-3">
                                <input asp-for="Password" type="Password" class="form-control" id="Password" placeholder="Enter Password">
                                <label asp-for="Password">Password</label>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                            <div class="form-floating mb-3 mt-3">
                                <input asp-for="ConfirmPassword" type="Password" class="form-control" id="ConfirmPassword" placeholder="Enter email">
                                <label asp-for="ConfirmPassword">ConfirmPassword</label>
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>

                            <div class="form-check d-flex justify-content-center mb-4">
                                @* <label class="form-check-label" for="Avatar">Avatar<sup>*</sup></label> *@
                                <input type="file" name="Avatar" class="form-control" />
                                <span asp-validation-for="@Model.Avatar" class="text-danger"></span>
                            </div>
                            <!-- Submit button -->
                            <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-danger btn-block mb-4">
                                Sign up
                            </button>

                            <!-- Register buttons -->
                            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                                <p class="lead fw-normal mb-0 me-3">Sign in with</p>
                                <a href="/User/External/?provider=Facebook" class="btn-hover">
                                    <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-floating mx-1 ">
                                        <div class="XqhqCI social-white-background social-white-fb-blue-png"></div>
                                    </button>
                                </a>
                                <a href="/User/External/?provider=Google" class="btn-hover">
                                    <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-floating mx-1 ">
                                        <div class="XqhqCI social-white-background social-white-google-png"></div>
                                    </button>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0">
                <img src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg" class="w-100 rounded-4 shadow-4"
                     alt="" />
            </div>
        </div>
    </div>
</section>
