@* @model IEnumerable<WeddingRestaurant.Models.Room> *@
@model X.PagedList.IPagedList<WeddingRestaurant.Models.Room>
@using X.PagedList.Mvc.Core

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Shop Start -->
<div class=" pt-5">
    <div class="row px-xl-5">
        <!-- Shop Sidebar Start -->
        <div class="col-lg-3 col-md-12">
            <!-- Price Start -->
            <div class="border-bottom mb-4 pb-4">
                <h5 class="font-weight-semi-bold mb-4">Filter by price</h5>
                <form>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" checked id="price-all">
                        <label class="custom-control-label" for="price-all">All Price</label>
                        <span class="badge border font-weight-normal">1000</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="price-1">
                        <label class="custom-control-label" for="price-1">$0 - $100</label>
                        <span class="badge border font-weight-normal">150</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="price-2">
                        <label class="custom-control-label" for="price-2">$100 - $200</label>
                        <span class="badge border font-weight-normal">295</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="price-3">
                        <label class="custom-control-label" for="price-3">$200 - $300</label>
                        <span class="badge border font-weight-normal">246</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="price-4">
                        <label class="custom-control-label" for="price-4">$300 - $400</label>
                        <span class="badge border font-weight-normal">145</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                        <input type="checkbox" class="custom-control-input" id="price-5">
                        <label class="custom-control-label" for="price-5">$400 - $500</label>
                        <span class="badge border font-weight-normal">168</span>
                    </div>
                </form>
            </div>
            <!-- Price End -->
        </div>
        <!-- Shop Sidebar End -->
        <!-- Shop Product Start -->
        <div class="col-lg-9 col-md-12">
            <div class="row pb-3">
                <div class="col-12 pb-1">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <form>
                            <div class="input-group">
                                
                            </div>
                        </form>
                        <form asp-action="Index" > 
                            <div class="dropdown ml-4">
                                <button class="btn border dropdown-toggle button-text" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                    Sort by
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="triggerId">
                                    <a class="dropdown-item" href="#" data-sort-order="decrease">Giảm dần</a>
                                    <a class="dropdown-item" href="#" data-sort-order="ascending">Tăng dần</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div id="roomsList" class="row">
                    @await Html.PartialAsync("_RoomsList", Model)
                </div>

                <div class="col-12 pb-1">
                    <nav aria-label="Page navigation" class="d-flex justify-content-center">
                        @Html.PagedListPager(Model, page => Url.Action("Index", "Room", new { page = page }))
                    </nav>
                </div> 
            </div>
        </div>
        <!-- Shop Product End -->
    </div>
</div>
<!-- Shop End -->

@section scripts {
    <script>
        $(document).ready(function () {
            $('.add-to-cart').click(function () {
                var id = $(this).data('id');

                $.ajax({
                    url: '/Room/AddToCart',
                    method: 'POST',
                    data: {
                        id: id,
                        type: "ajax"
                    },
                    success: function (response) {
                        console.log(response.message);
                        var container = $("#roomsList");
                        var alertSuccess = $(".alert-success");
                        console.log(alertSuccess.length)
                        if (alertSuccess.length <=0) { // Check if there is at least one element with the class "alert-success"
                            var messageElement = document.createElement("p");
                            messageElement.classList.add("alert", "alert-success");
                            messageElement.textContent = response.message;

                            container.append(messageElement); // Convert messageElement to a jQuery object before appending
                        }
                    },
                    error: function (error) {
                        console.error('Error adding to cart:', error);
                        alert('There was an error adding the item to your cart.');
                    }
                });
            });
        });

        $('.dropdown-item').click(function (e) {
            e.preventDefault();
            var sortOrder = $(this).data('sort-order'); 
            var textSortOrder = $(this).text();
            console.log(sortOrder)
            $.ajax({
                url: '/Room/Index',
                type: 'GET',
                data: { sortOrder: sortOrder },
                success: function (result) {
                    $('#roomsList').html(result);
                    console.log(textSortOrder)
                    $('.button-text').text(textSortOrder)

                }
            });
        });
            
        
    </script> 
}