<header id="header" class="header has-sticky sticky-jump">
        <div class="header-wrapper">
            <div id="masthead" class="header-main ">
                <div class="header-inner flex-row container logo-left medium-logo-center" role="navigation">
                    <div id="logo" class="flex-col logo">
                        <a href="https://thefood.vn/"
                            title="ĐẶT TIỆC TẠI NHÀ - DỊCH VỤ TỔ CHỨC TIỆC LƯU ĐỘNG CHUYÊN NGHIỆP #1" rel="home">
                            <img width="50" height="100" src="https://thefood.vn/wp-content/uploads/logo.png.webp"
                                class="header_logo header-logo" alt="ĐẶT TIỆC TẠI NHÀ"><img width="50" height="100"
                                src="https://thefood.vn/wp-content/uploads/logo.png.webp" class="header-logo-dark"
                                alt="ĐẶT TIỆC TẠI NHÀ"></a>
                    </div>
                    <div class="flex-col hide-for-medium flex-left flex-grow">
                        <ul class="header-nav header-nav-main nav nav-left nav-size-small nav-uppercase mt-5">
                            <li class="html custom html_topbar_right">
                                <div class="hea-text-top">
                                    <p class="htt">THE FOOD.VN-<span> CATERING &amp; EVENT SERVICE</span></p>
                                    <p class="htb"><a href="tel:0925727727">TEL :0925.727.727</a><span>(Hỗ trợ
                                            24/7)</span></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                <header>
                    <div class="header grid__auto">
                        <div class="header__navbar-flex-user grid__auto ">
                            <ul class="header__navbar-items ">
                                <li class="header__navbar-item">
                                    <a href="login.html">Đăng nhập</a>
                                </li>
                                <li class="header__navbar-item">
                                    <a href="register.html">Đăng ký</a>
                                </li>
                            </ul>
                        </div>

                        <div class="header-flex-with-search">
                            <div class="header__logo">
                                <a href="index.html">
                                    <img src="assets/img/logo.png" alt="logo">
                                </a>
                            </div>

                            <div class="header__search">
                                <input class="header__search-input" type="text" placeholder="Tìm kiếm..." />
                                <button class="header__search-btn">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="header__cart">
                                <a href="cart.html">
                                    <div class="header__cart-hover">
                                        <i class="header__cart-icon fa fa-shopping-cart" aria-hidden="true"></i>
                                        <div class="header__cart-list header__cart-list-no-cart">
                                            <div class="header__cart-text-center">
                                                <span>Chưa có sản phẩm</span>
                                            </div>
                                        </div>
                                        <span class="header__cart-number">0</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </header>
             @*    if (User.Identity.IsAuthenticated)
                {
                if (User.IsInRole("Admin")) *@
                    <!--go -->
                    <div class="flex-col hide-for-medium flex-right">
                        <ul class="dropdown header-nav header-nav-main nav nav-right  nav-size-small nav-uppercase">
                            <li class="hover-menu">
                                <button style="border:none" class="nav-top-link btn btn-default " type="button" data-toggle="dropdown">
                                    <div class="text-center text-danger">
                                        <i class="fa-solid fa-champagne-glasses "
                                            style="font-size: 30px;"></i>
                                        <br>Thực đơn
                                        <i class="fa-solid fa-caret-down"></i>
                                    </div>
                                </button>
                                <ul class="dropdown-menu">
                                    <li
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3590 ">
                                        <a class="dropdown-item" href="https://thefood.vn/menu-tiec-finger-food/">
                                            <img data-lazyloaded="1"
                                                src="https://thefood.vn/wp-content/uploads/dining.png.webp"
                                                class="img-menu-con entered litespeed-loaded "
                                                data-src="https://thefood.vn/wp-content/uploads/dining.png.webp" alt=""
                                                data-ll-status="loaded">MENU TIỆC FINGER FOOD
                                            </a>
                                    </li>
                                    <li
                                        class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-3589">
                                        <a href="https://thefood.vn/menu-tiec-buffet/"><img data-lazyloaded="1"
                                                src="https://thefood.vn/wp-content/uploads/dining.png.webp"
                                                class="img-menu-con entered litespeed-loaded"
                                                data-src="https://thefood.vn/wp-content/uploads/dining.png.webp" alt=""
                                                data-ll-status="loaded">MENU TIỆC BUFFET</a>
                                    </li>
                                    <li
                                        class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-2722">
                                        <a href="https://thefood.vn/menu-tiec-ban/"><img data-lazyloaded="1"
                                                src="https://thefood.vn/wp-content/uploads/dining.png.webp"
                                                class="img-menu-con entered litespeed-loaded"
                                                data-src="https://thefood.vn/wp-content/uploads/dining.png.webp" alt=""
                                                data-ll-status="loaded">MENU TIỆC BÀN</a>
                                    </li>
                                    <li
                                        class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-2443">
                                        <a href="https://thefood.vn/menu-tiec-cao-cap/"><img data-lazyloaded="1"
                                                src="https://thefood.vn/wp-content/uploads/dining.png.webp"
                                                class="img-menu-con entered litespeed-loaded"
                                                data-src="https://thefood.vn/wp-content/uploads/dining.png.webp" alt=""
                                                data-ll-status="loaded">MENU TIỆC CAO CẤP</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  menu-item-335 has-dropdown">
                                <button style="border:none" class="nav-top-link btn btn-default " type="button" data-toggle="dropdown">
                                    <div class="text-center text-danger">
                                        <i class="fa-solid fa-address-card" style="font-size: 30px;"></i>
                                        <br>Giới thiệu
                                        <i class="fa-solid fa-caret-down"></i>
                                    </div>
                                </button>
                                <ul class="dropdown-menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-356">
                                        <a href="https://thefood.vn/gioi-thieu/thefood-careting-event-service/"><img
                                                data-lazyloaded="1"
                                                src="https://thefood.vn/wp-content/uploads/human-resources.png.webp"
                                                class="img-menu-con entered litespeed-loaded"
                                                data-src="https://thefood.vn/wp-content/uploads/human-resources.png.webp"
                                                alt="" data-ll-status="loaded">THEFOOD CARETING &amp; EVENT SERVICE</a>
                                    </li>
                                    <li
                                        class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-2413">
                                        <a
                                            href="https://thefood.vn/huong-dan-dat-tiec-tai-nha-dat-tiec-buffet-tiec-finger-food-tiec-tea-break/"><img
                                                data-lazyloaded="1"
                                                src="https://thefood.vn/wp-content/uploads/reading.png.webp"
                                                class="img-menu-con entered litespeed-loaded"
                                                data-src="https://thefood.vn/wp-content/uploads/reading.png.webp" alt=""
                                                data-ll-status="loaded">Hướng dẫn đặt tiệc</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-354">
                                        <a href="https://thefood.vn/gioi-thieu/chung-nhan-dkkd/"><img
                                                data-lazyloaded="1"
                                                src="https://thefood.vn/wp-content/uploads/certificate.png.webp"
                                                class="img-menu-con entered litespeed-loaded"
                                                data-src="https://thefood.vn/wp-content/uploads/certificate.png.webp"
                                                alt="" data-ll-status="loaded">Chứng nhận ĐKKD</a>
                                    </li>
                                    <li
                                        class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-3559">
                                        <a href="https://thefood.vn/ho-so-nang-luc/"><img data-lazyloaded="1"
                                                src="https://thefood.vn/wp-content/uploads/reading.png.webp"
                                                class="img-menu-con entered litespeed-loaded"
                                                data-src="https://thefood.vn/wp-content/uploads/reading.png.webp" alt=""
                                                data-ll-status="loaded">Hồ Sơ Năng Lực</a>
                                    </li>
                                </ul>
                            </li>
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  menu-item-338 has-dropdown">
                                <button style="border:none" class="nav-top-link btn btn-default " type="button" data-toggle="dropdown">
                                    <div class="text-center text-danger">
                                        <i class="fa-solid fa-bell-concierge" style="font-size: 30px;"></i>
                                        <br>Dịch vụ
                                        <i class="fa-solid fa-caret-down"></i>
                                    </div>
                                </button>
                                <ul class="dropdown-menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-395">
                                        <a href="https://thefood.vn/dat-tiec-ban/"><img data-lazyloaded="1"
                                                src="https://thefood.vn/wp-content/uploads/dining.png.webp"
                                                class="img-menu-con entered litespeed-loaded"
                                                data-src="https://thefood.vn/wp-content/uploads/dining.png.webp" alt=""
                                                data-ll-status="loaded">ĐẶT TIỆC BÀN</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-398">
                                        <a href="https://thefood.vn/dat-tiec-bqq/"><img data-lazyloaded="1"
                                                src="https://thefood.vn/wp-content/uploads/dinner-1.png.webp"
                                                class="img-menu-con entered litespeed-loaded"
                                                data-src="https://thefood.vn/wp-content/uploads/dinner-1.png.webp"
                                                alt="" data-ll-status="loaded">ĐẶT TIỆC BQQ</a>
                                    </li>
                                    <li
                                        class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-2283">
                                        <a href="https://thefood.vn/dat-tiec-buffet/"><img data-lazyloaded="1"
                                                src="https://thefood.vn/wp-content/uploads/korean.png.webp"
                                                class="img-menu-con entered litespeed-loaded"
                                                data-src="https://thefood.vn/wp-content/uploads/korean.png.webp" alt=""
                                                data-ll-status="loaded">ĐẶT TIỆC BUFFET</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-399">
                                        <a href="https://thefood.vn/dat-tiec-teabreak/"><img data-lazyloaded="1"
                                                src="https://thefood.vn/wp-content/uploads/dinner.png.webp"
                                                class="img-menu-con entered litespeed-loaded"
                                                data-src="https://thefood.vn/wp-content/uploads/dinner.png.webp" alt=""
                                                data-ll-status="loaded">ĐẶT TIỆC TEA-BREAK</a>
                                    </li>
                                    <li
                                        class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-2545">
                                        <a href="https://thefood.vn/nau-tiec-tai-nha/"><img data-lazyloaded="1"
                                                src="https://thefood.vn/wp-content/uploads/house.png.webp"
                                                class="img-menu-con entered litespeed-loaded"
                                                data-src="https://thefood.vn/wp-content/uploads/house.png.webp" alt=""
                                                data-ll-status="loaded">NẤU TIỆC TẠI NHÀ</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-401">
                                        <a href="https://thefood.vn/tiec-cuoi-hoi-tron-goi/"><img data-lazyloaded="1"
                                                src="https://thefood.vn/wp-content/uploads/wedding.png.webp"
                                                class="img-menu-con entered litespeed-loaded"
                                                data-src="https://thefood.vn/wp-content/uploads/wedding.png.webp" alt=""
                                                data-ll-status="loaded">TIỆC CƯỚI – HỎI TRỌN GÓI</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-402">
                                        <a href="https://thefood.vn/tiec-sinh-nhat-tron-goi/"><img data-lazyloaded="1"
                                                src="https://thefood.vn/wp-content/uploads/confetti.png.webp"
                                                class="img-menu-con entered litespeed-loaded"
                                                data-src="https://thefood.vn/wp-content/uploads/confetti.png.webp"
                                                alt="" data-ll-status="loaded">TIỆC SINH NHẬT TRỌN GÓI</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-403">
                                        <a href="https://thefood.vn/tiec-thoi-noi-cho-be/"><img data-lazyloaded="1"
                                                src="https://thefood.vn/wp-content/uploads/wedding-1.png.webp"
                                                class="img-menu-con entered litespeed-loaded"
                                                data-src="https://thefood.vn/wp-content/uploads/wedding-1.png.webp"
                                                alt="" data-ll-status="loaded">TIỆC THÔI NÔI</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-404">
                                        <a href="https://thefood.vn/tiec-tan-gia/"><img data-lazyloaded="1"
                                                src="https://thefood.vn/wp-content/uploads/food-serving.png.webp"
                                                class="img-menu-con entered litespeed-loaded"
                                                data-src="https://thefood.vn/wp-content/uploads/food-serving.png.webp"
                                                alt="" data-ll-status="loaded">TIỆC TÂN GIA</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-405">
                                        <a href="https://thefood.vn/to-chuc-tiec-cong-ty-tron-goi/"><img
                                                data-lazyloaded="1"
                                                src="https://thefood.vn/wp-content/uploads/factory.png.webp"
                                                class="img-menu-con entered litespeed-loaded"
                                                data-src="https://thefood.vn/wp-content/uploads/factory.png.webp" alt=""
                                                data-ll-status="loaded">TỔ CHỨC TIỆC CÔNG TY TRỌN GÓI</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-406">
                                        <a href="https://thefood.vn/tiec-tat-nien-tron-goi/"><img data-lazyloaded="1"
                                                src="https://thefood.vn/wp-content/uploads/bowl.png.webp"
                                                class="img-menu-con entered litespeed-loaded"
                                                data-src="https://thefood.vn/wp-content/uploads/bowl.png.webp" alt=""
                                                data-ll-status="loaded">TIỆC TẤT NIÊN TRỌN GÓI</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-408">
                                        <a href="https://thefood.vn/bang-gia-cho-thue-thiet-bi/"><img
                                                data-lazyloaded="1"
                                                src="https://thefood.vn/wp-content/uploads/human-resources.png.webp"
                                                class="img-menu-con entered litespeed-loaded"
                                                data-src="https://thefood.vn/wp-content/uploads/human-resources.png.webp"
                                                alt="" data-ll-status="loaded">BẢNG GIÁ CHO THUÊ THIẾT BỊ SỰ KIỆN</a>
                                    </li>
                                </ul>
                            </li>
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  menu-item-341 has-dropdown">
                                <button style="border:none" class="nav-top-link btn btn-default " type="button" data-toggle="dropdown">
                                    <div class="text-center text-danger">
                                        <i class="fa-solid fa-newspaper" style="font-size: 30px;"></i>
                                        <br>Tin tức
                                        <i class="fa-solid fa-caret-down"></i>
                                    </div>
                                </button>
                                <ul class="dropdown-menu">
                                    <li
                                        class="menu-item menu-item-type-taxonomy menu-item-object-category  menu-item-426">
                                        <a href="https://thefood.vn/tin-tuc/tin-khuyen-mai/"><img data-lazyloaded="1"
                                                src="https://thefood.vn/wp-content/uploads/reading.png.webp"
                                                class="img-menu-con entered litespeed-loaded" alt="">TIN KHUYẾN MÃI</a>
                                    </li>
                                    <li
                                        class="menu-item menu-item-type-taxonomy menu-item-object-category  menu-item-427">
                                        <a href="https://thefood.vn/tin-tuc/tuyen-dung-thefood/"><img
                                                data-lazyloaded="1"
                                                src="https://thefood.vn/wp-content/uploads/human-resources.png.webp"
                                                class="img-menu-con entered litespeed-loaded"
                                                data-src="https://thefood.vn/wp-content/uploads/human-resources.png.webp"
                                                alt="" data-ll-status="loaded">THEFOOD TUYỂN DỤNG</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-132">
                                <button style="border:none" class="nav-top-link btn btn-default " type="button" data-toggle="dropdown">
                                    <div class="text-center text-danger">
                                        <i class="fa-solid fa-id-card-clip" style="font-size: 30px;"></i>
                                        <br>Liên hệ
                                    </div>
                                </button>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="container">
                    <div class="top-divider full-width"></div>
                </div>
            </div>

            <div class="header-bg-container fill">
                <div class="header-bg-image fill"></div>
                <div class="header-bg-color fill"></div>
            </div>
        </div>
    </header>