@using Microsoft.AspNetCore.Identity
@using System.Security.Claims


<header id="header" class="header has-sticky sticky-jump">
    <div class="header-wrapper">
        <div id="masthead" class="header-main ">
            <div class="header-inner flex-row container logo-left medium-logo-center" role="navigation">
                <div id="logo" class="flex-col logo">
                    <a asp-controller="Home" asp-action="Index"
                       title="ĐẶT TIỆC TẠI NHÀ - DỊCH VỤ TỔ CHỨC TIỆC LƯU ĐỘNG CHUYÊN NGHIỆP #1" rel="home">
                        <img width="50" height="100" src="https://thefood.vn/wp-content/uploads/logo.png.webp"
                             class="header_logo header-logo" alt="ĐẶT TIỆC TẠI NHÀ">
                        <img width="50" height="100"
                             src="https://thefood.vn/wp-content/uploads/logo.png.webp" class="header-logo-dark"
                             alt="ĐẶT TIỆC TẠI NHÀ">
                    </a>
                </div>
                <div class="flex-col hide-for-medium flex-left flex-grow">
                    <ul class="header-nav header-nav-main nav nav-left nav-size-small nav-uppercase mt-5">
                        <li class="html custom html_topbar_right">
                            <div class="hea-text-top">
                                <p class="htt">THE FOOD.VN-<span> CATERING &amp; EVENT SERVICE</span></p>
                                <p class="htb">
                                    <a href="tel:0925727727">TEL :0925.727.727</a><span>
                                        (Hỗ trợ
                                        24/7)
                                    </span>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                
                <!--go -->
                <div class="flex-col hide-for-medium flex-right">
                    <ul class="dropdown header-nav header-nav-main nav nav-right  nav-size-small nav-uppercase">

                         @await Component.InvokeAsync("MenuHeader")
                        <a asp-controller="Room" asp-action="Index">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  menu-item-338 ">
                                    <button style="border:none" class="nav-top-link btn btn-default " type="button">
                                        <div class="text-center text-danger">
                                            <i class="fa-solid fa-bell-concierge" style="font-size: 30px;"></i>
                                            <br>Sảnh
                                            @* <i class="fa-solid fa-caret-down"></i> *@
                                        </div>
                                    </button>
                          
                               @*  <ul class="dropdown-menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-395">
                                        <a href="https://thefood.vn/dat-tiec-ban/">
                                            <img data-lazyloaded="1"
                                                 src="https://thefood.vn/wp-content/uploads/dining.png.webp"
                                                 class="img-menu-con entered litespeed-loaded"
                                                 data-src="https://thefood.vn/wp-content/uploads/dining.png.webp" alt=""
                                                 data-ll-status="loaded">ĐẶT TIỆC BÀN
                                        </a>
                                    </li>
                                </ul> *@
                            </li>
                        </a>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-132">
                            <button style="border:none" class="nav-top-link btn btn-default " type="button" data-toggle="dropdown">
                                <div class="text-center text-danger">
                                    <i class="fa-solid fa-id-card-clip" style="font-size: 30px;"></i>
                                    <br>Liên hệ
                                </div>
                            </button>
                        </li>

                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  menu-item-341 has-dropdown">
                            <button style="border:none" class="nav-top-link btn btn-default " type="button" data-toggle="dropdown">
                                <div class="text-center text-danger">
                                    <i class="fa-solid fa-user" style="font-size: 30px;"></i>
                                    <br>Tài khoản
                                    <i class="fa-solid fa-caret-down"></i>
                                </div>
                            </button>

                            <ul class="dropdown-menu dropdown-list dropdown-rs">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    if (User.IsInRole("Admin"))
                                    {
                                        <li class="menu-item menu-item-type-taxonomy menu-item-object-category  menu-item-426">
                                            <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">
                                                <img data-lazyloaded="1"
                                                     src="https://thefood.vn/wp-content/uploads/reading.png.webp"
                                                     class="img-menu-con entered litespeed-loaded" alt="">Đến trang admin
                                            </a>
                                        </li>
                                        <li class="menu-item menu-item-type-taxonomy menu-item-object-category  menu-item-426">
                                            <a asp-controller="User" asp-action="logout">
                                                <img data-lazyloaded="1"
                                                     src="https://thefood.vn/wp-content/uploads/reading.png.webp"
                                                     class="img-menu-con entered litespeed-loaded" alt="">Đăng xuất
                                            </a>
                                        </li>
                                    }
                                    else if (User.IsInRole("User"))
                                    {
                                    <li class="user-header">
                                            <img src="@Url.Content("~/Image/User/" + User.FindFirst("Avatar")?.Value)" class="img-circle" alt="User Image" />
                                        <p>
                                                @User.FindFirst(ClaimTypes.Email)?.Value
                                        </p>
                                    </li>
                       
                                    <li class="user-footer">
                                        <div class="pull-left">
                                            <a href="#" class="btn btn-default btn-flat">Profile</a>
                                        </div>
                                        <div class="pull-right">
                                                <a asp-controller="User" asp-action="logout" class="btn btn-default btn-flat">Đăng xuất</a>
                                        </div>
                                    </li>
                                    }
                                }
                                else
                                {
                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category  menu-item-426">
                                        <a asp-controller="User" asp-action="Login">
                                            <img data-lazyloaded="1"
                                                 src="https://thefood.vn/wp-content/uploads/reading.png.webp"
                                                 class="img-menu-con entered litespeed-loaded" alt="">Đăng nhập
                                        </a>
                                    </li>
                                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category  menu-item-426">
                                        <a asp-controller="User" asp-action="Register">
                                            <img data-lazyloaded="1"
                                                 src="https://thefood.vn/wp-content/uploads/reading.png.webp"
                                                 class="img-menu-con entered litespeed-loaded" alt="">Đăng ký
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                        <a asp-controller="Room" asp-action="CheckOut">
                            <div class="header__cart">
                                    <div class="header__cart-hover">
                                        <i class="header__cart-icon fa fa-shopping-cart" aria-hidden="true"></i>
                                    </div>
                            </div>
                        </a>
                    </ul>
                </div>

            </div>
            <div class="container">
                <div class="top-divider full-width"></div>
            </div>
        </div>

        <div class="header-bg-container fill">
            <div class="header-bg-image fill"></div>
            <div class="header-bg-color fill"></div>
        </div>
    </div>
</header>

