﻿@foreach (var item in Model)
{
    <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
        <div class="card product-item border-0 mb-4">
            <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                <img class="img-fluid w-100" src="~/Image/Room/@item.Image" alt="">
            </div>
            <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                <h6 class="text-truncate mb-3">@item.Name</h6>
                <div class="d-flex justify-content-center">
                    <h6>@item.Price</h6>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-between bg-light border">
                <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>Detail</a>
                <a data-id="@item.Id" class="btn btn-sm text-dark p-0 add-to-cart"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
            </div>
        </div>
    </div>
}

@section scripts {
    <script>
        $(document).ready(function () {
            $('.add-to-cart').click(function () {
                var id = $(this).data('id');

                $.ajax({
                    url: '/Room/AddToCart',
                    method: 'POST',
                    data: {
                        id: id,
                        type: "ajax"
                    },
                    success: function (response) {
                        console.log(response.message);
                        var message = $(".message");

                        var alertSuccess = $(".alert-danger");
                        console.log(alertSuccess.length)

                        if (alertSuccess.length <=0) { // Check if there is at least one element with the class "alert-success"
                            var messageElement = document.createElement("p");
                            messageElement.classList.add("alert", "alert-danger");
                            messageElement.textContent = response.message;

                            message.append(messageElement); // Convert messageElement to a jQuery object before appending
                        }
                    },
                    error: function (error) {
                        console.error('Error adding to cart:', error);
                        alert('There was an error adding the item to your cart.');
                    }
                });
            });
        });
    </script>
}